.comment{
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  .comment__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .comment__info {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .comment__reply {
    all: inherit;
    font-size: 12px;
    background-color: none;
    color: #3c763d;
    cursor: pointer;
  }
  .comment__body {
    font-size: 1rem;
    line-height: 24px;
  }
  .comment__replies{
    width: 90%;
    color: rgba(4, 10, 0, 0.76);
  }