.List {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .ListSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .ListHeader {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #3498db; /* یک مثال برای رنگ پس‌زمینه، می‌توانید تغییر دهید */
    color: white; /* رنگ متن */
    border-radius: 8px;
  }
  
  .ListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ddd; /* یک مثال برای حاشیه میانی، می‌توانید تغییر دهید */
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .ListHeader,
    .ListItem {
      font-size: 14px;
    }
  }
  