
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: rgb(0, 0, 0);
    overflow-y:hidden; 
  }
  
  .HeaderTitle {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .HeaderColumns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 16px;
  }
  
  .HeaderColumn {
    flex: 1;
    text-align: center;
  }
  