.comments-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.comments-box__title {
  color: #3c763d;
  font-size: 1.5rem;
  line-height: 36px;
}

@media only screen and (max-width:574px) {
  .comments-box{
    width: 100%;
  }
}
