.items {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 16px;
}
.item {
  width: 100%;
  min-height: 32px;
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.works {
  width: 300px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.works:hover {
    white-space:wrap;
  }
.button {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 100%;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  cursor: pointer;
}
.item:hover {
  background-color: #f84546;
  color: white;
  transition: background-color 1s ease-out;
}
